
.mainContainer {
    display: flex;
    justify-content: center;
    font-size: 16px;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.subContainer {
    height: 60em;
    width: 85%;
    display: grid;
    grid-template-columns: 0.6fr 0.2fr 0.2fr;
    grid-template-rows: 0.3fr 0.3fr 0.4fr;
    grid-template-areas:    "healthcare video1 consulting"
                            "daycare video2 consulting"
                            "grooming grooming grooming";
    grid-gap: 1.5em;
}

/* Healthcare Container */

.healthcareContainer {
    grid-area: healthcare;
}

.healthcare {
    box-sizing: border-box;
    background-color: #6A7AFF;
    border-radius: 3em;
    height: 90%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em 3em;
    
}

.textContainer {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    color: white;
}

.heading {
    font-size: 1.8em;
    font-weight: normal;
    font-family: 'Kiwi Maru', 'Roboto slab', sans-serif;
    margin-bottom: 0.2em;
}

.subPara {
    font-size: 1.3em;
    margin-bottom: 0;
    font-family: 'Kiwi Maru', 'Arial', sans-serif;
    font-weight: bold;
}

.list {
    margin-top: 0.1em;
    font-family: 'Kiwi Maru', 'Arial', sans-serif;
    font-weight: bold;
}

.catPic1 {
    border-radius: 2em;
}

.arrowContainer {
    background-color: #E0E0E0;
    padding: 0.8em;
    border-radius: 2.5em;
    margin: 0;
}

.arrowContainer:hover {
    background-color: #A56107;
}


/* Video1 Container */


.video1Container {
    grid-area: video1;
    display: flex;
    justify-content: center;
}

.catVid {
    border-radius: 4em;
    border: 1px solid black;
    fill: #6A7AFF;
}


/* Daycare Container */


.daycareContainer {
    grid-area: daycare;
}

.daycare {
    box-sizing: border-box;
    background-color: #6A7AFF;
    border-radius: 3em;
    height: 100%;
    width: 102%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em 3em;    
}

.dogPic1 {
    border-radius: 2em;
    margin-left: 4em;
}



/* Video2 Container */

.video2Container {
    grid-area: video2;
    display: flex;
    justify-content: center;
}



/* consulting Container */

.consultingContainer {
    grid-area: consulting;
}

.consulting {
    background-color: #6A7AFF;
    box-sizing: border-box;
    padding: 1em;
    padding-top: 0.5em;
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border-radius: 4em;
    align-items: center;
}

.dogPic2 {
    border-radius: 3em;
}

.consText {
    color: white;
    font-size: 1.3em;
    font-family: 'Kiwi Maru', sans-serif;
    font-weight: bold;
}

.arrowContainer2 {
    background-color: #E0E0E0;
    padding: 0.8em;
    border-radius: 2.5em;
    margin-left: auto;
}

.arrowContainer2:hover {
    background-color: #A56107;
}


/* grooming container */

.groomingContainer {
    grid-area: grooming;
}

.grooming {
    background-color: #6A7AFF;
    margin-top: 1.5em;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 1em 2em;
    border-radius: 4em;
}

.pawTextContainer {
    display: flex;
}

.pawContainer {
    align-self: flex-start;
}

.paw {
    font-size: 2em;
    color: #303879;
    rotate: 60deg;
    margin-top: 0.4em;
}

.groomTextContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.groomHeading {
    align-self: flex-start;
    margin-left: 0.5em;
    color: white;
    font-size: 2.5em;
    font-family: 'Kiwi Maru', sans-serif;
    font-weight: normal;
}

.listsContainer {
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 0.5em 0;
   
}

.sublist {
    color: white;
    font-family: 'Kiwi Maru', 'Arial', sans-serif;
    font-weight: lighter;
    margin-right: 0.7em;
}

.seeButtonContainer {
    background-color: #FFFFFF;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    padding: 0.5em 2em;
    border-radius: 3em;
    align-self: flex-start;
    margin-top: 1em;
}

.seeButtonContainer:hover {
    background-color: #A56107;
}

.buttonText {
    margin: 0;
    padding: 0;
    color: black;
    font-size: 1.3em;
    font-family: 'Kiwi Maru', 'Arial', sans-serif;
    margin-right: 1em;
}

.buttonArrow {
    font-size: 2em;
}

.doublePawContainer {
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    margin-top: 1em;
}

.upperPaw {
    font-size: 2.5em;
    color: #303879;
    rotate: 60deg;
    margin-right: 1em;
}

.lowerPaw {
    font-size: 2.5em;
    color: #303879;
    rotate: 60deg;
    margin-top: 1em;
    align-self: flex-end;
}

.groomingPic {
    border-radius: 2em;
    margin-right: 0;
    padding-right: 0;
}

.pawContainer2 {
    align-self: flex-end;
    padding: 1em;
    padding-left: 0;
    margin: 0;
}

.paw2 {
    font-size: 1.3em;
    color: #303879;
    rotate: 60deg;
}