.navbar-Wrapper {
  display: flex;
  align-items: center;
  margin-left: 75px;
  margin-top: 100px;
}

.header {
  padding-bottom: 10px;
}

.home {
    display: flex;
    padding: 0;
    margin: 0;
    margin-top: 30px;
  }

.posts-container {
    background-color: #FFD8B9;
    width: 75%;
    /* margin-left: 75px; */
    border-radius: 0px 32px 32px 0px;
    margin-bottom: 50px;
    margin-top: 10px;
    padding: 20px;
    display: flex;
    justify-content: center;
  }

  .blogs-container {
    display: flex;
    flex-wrap: wrap;
  }

.posts {
    padding-left: 120px;
  }

.sidebar {
    padding-right: 10px;
  }

  